asgiref
certifi
charset-normalizer
Django==4.1
django-allauth
djangorestframework
drf-yasg
hashids
idna
inflection
packaging
pillow
psycopg2-binary
pytz
PyYAML
requests
sqlparse
uritemplate
urllib3
mysqlclient
