Django             # Core Django framework
django-allauth     # Compatible with Django 4.1
djangorestframework  # Works with Django 4.1
drf-yasg           # Swagger for DRF
hashids             # No direct dependency on Django version         # Needed for dependency parsing
pillow            # Compatible image library for Django
pytz             # Timezone support
PyYAML                # YAML support library
requests           # HTTP library
sqlparse            # Required by Django ORM
uritemplate        # Dependency for DRF/YASG
urllib3           # Required by requests
mysqlclient         # MySQL database adapter for Django 4.1
django-cors-headers
django-filter
